*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background: linear-gradient(135deg, #0a3d91, #3c91e6);
  min-height:100vh;
}

/* HEADER */
.header{
  text-align:center;
  color:white;
  padding:25px;
}

/* CONTAINER */
.container{
  display:flex;
  justify-content:center;
  padding:30px;
}

/* CARD */
.card{
  background:white;
  padding:25px;
  border-radius:20px;
  width:100%;
  max-width:400px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* BOTÃO */
.btn{
  width:100%;
  padding:12px;
  margin:8px 0;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#1e90ff,#3742fa);
  color:white;
  cursor:pointer;
}

/* OPÇÕES */
.opcao{
  border:1px solid #ccc;
  padding:10px;
  margin:5px 0;
  border-radius:10px;
}

/* CÍRCULO */
.codigo{
  width:80px;
  height:80px;
  background:#1e90ff;
  color:white;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:15px auto;
}

/* LINK */
.link{
  font-size:13px;
  color:#555;
  cursor:pointer;
}

/* ESCONDER */
.hidden{
  display:none;
}

/* FOOTER */
footer{
  text-align:center;
  color:white;
  padding:10px;
}
